# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# Misc
*.md
*.log
.env.example
music_output/
